body
    background-color: hsl(216, 12%, 8%)
    font-family: 'Overpass', sans-serif


.centerBox
    margin: 20vh auto
    max-width: 250px
    max-height: 250px
    // background-color: #1b222c
    background-color: #1f2630
    color: white
    padding: 20px
    border-radius: 20px
    

#thank-you-page
    display: none

.header
    color:  hsl(0, 0%, 100%)
    font-size: 1em

.smallText
    color:  hsl(217, 12%, 63%)
    font-size: 0.7em
    margin: 0


.numbers
    display: flex
    justify-content: space-between
.numberBtn
    background-color: #262f38

    color:  hsl(217, 12%, 63%)
    border: none
    height: 40px
    width: 40px
    border-radius: 20px
    margin: 25px 0

.submitBtn
    background-color: hsl(25, 97%, 53%)
    color:  hsl(0, 0%, 100%)
    border: none
    height: 30px
    border-radius: 20px
    width: 100%
    text-transform: uppercase
    font-weight: 700






.attribution 
    font-size: 11px
    text-align: center
.attribution a 
    color: hsl(228, 45%, 44%)
