body
    background-color: hsl(216, 12%, 8%)


.centerBox
    margin: 0 auto
    max-width: 30vw
    // background-color: #1b222c
    background-color: hsl(213, 19%, 18%)

    color: white
    // display: flex
    // align-content: center

#thank-you-page
    display: none

.header
    color: #fafafd

.smallText
    color: #7c838d

.numberBtn
    background-color: #262f38
    color: #7c838d
    border: none

.submitBtn
    background-color: #fc7613
    color: #ffe0b1
    border: none